<%- layout('layouts/boilerplate') %>
    <div id="cluster-map"></div>
    <h1>All campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <% for(let campground of campgrounds){%>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length > 0){%>
                    <img class="img-fluid w-100 h-100 object-fit-contain" src="<%= campground.images[0].url %>" alt="">
                    <%}%>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=campground.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground.id%>">View <%=campground.title%></a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>

<script src="https://cdn.maptiler.com/maptiler-sdk-js/v3.8.0/maptiler-sdk.umd.min.js"></script>
<link href="https://cdn.maptiler.com/maptiler-sdk-js/v3.8.0/maptiler-sdk.css" rel="stylesheet" />
<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
</script>
<script src="/javascripts/clusterMap.js"></script>